version: '3.4'

services:
  cma.ismai.delivery.api.ui:
    image: ${DOCKER_REGISTRY-}cmaismaideliveryapiui
    networks:
      - deliveryproject_network
    container_name: cmaismaideliveryapiui
    ports:
    - 5668:80
    - 5669:443
    restart: always
    build:
      context: .
      dockerfile: CMA.ISMAI.Delivery.API.UI/Dockerfile
    volumes:
      - C:/Users/Carlos Campos/Desktop/Production/Unzip:/Production/Unzip 
      - C:/Users/Carlos Campos/Desktop/Production/Zip:/Production/Zip  
    environment:
      - RabbitMqCore__Uri=rabbitmq 
      - RabbitMqCore__Username=admin
      - RabbitMqCore__Password=admin 
      - RabbitMqCore__Port=5672 
      - ElasticConfiguration__Uri=http://elasticsearch:9200/
      - EventStore__IPAddress=tcp://admin:changeit@eventstore:1113 
      - FilePathZip__Path=C:/Users/Carlos Campos/Desktop/Production/Zip # Onde estarão os ficheiros descarregados zip
      - FilePathUnzip__Path=C:/Users/Carlos Campos/Desktop/Production/Unzip # One estarao os ficheiros descarregados unzip

  cma.ismai.delivery.fileprocessing.ui:
    image: ${DOCKER_REGISTRY-}cmaismaideliveryfileprocessingui
    networks:
      - deliveryproject_network
    restart: always
    container_name: cmaismaideliveryfileprocessingui
    build:
      context: .
      dockerfile: CMA.ISMAI.Delivery.FileProcessing.UI/Dockerfile
    volumes:
      - C:/Users/Carlos Campos/OneDrive/Document:/Document/OneDrive
      - C:/Users/Carlos Campos/Desktop/ismai.xlsx:/Jury/ismai.xlsx
      - C:/Users/Carlos Campos/Desktop/Production/Unzip:/Production/Unzip 
      - C:/Users/Carlos Campos/Desktop/Production/Zip:/Production/Zip  
    environment:
      - RabbitMqCore__Uri=rabbitmq 
      - RabbitMqCore__Username=admin 
      - RabbitMqCore__Password=admin
      - RabbitMqCore__Port=5672 
      - ElasticConfiguration__Uri=http://elasticsearch:9200/ 
      - EventStore__IPAddress=tcp://admin:changeit@eventstore:1113 
      - Camunda__Uri=http://camunda:8080/engine-rest/engine/default/
      - FilePathJury__Path=//Jury//ismai.xlsx # Onde estará o ficheiro com o Juri
      - OneDrive__Path=C:/Users/Carlos Campos/OneDrive/Document #Onde se encontra o OneDrive
      - TimeToFetch__Time=43200 # tempo para o timer ir ao camunda colecionar tasks
      - TaskPerFetch__Time=30 # tasks que o camunda retorna
      - Notification__Email=carlosmiguelcampos1996@gmail.com #Email de envio de notificação da solução para processamento manual
      - NotificationEmail__Email=trelloismai@gmail.com #Email de envio de notificação da solução
      - NotificationEmail__Password=trelloteste123
      - NotificationEmail__Host=smtp.gmail.com
      - NotificationEmail__Port=587
      - FilePathZip__Path=C:/Users/Carlos Campos/Desktop/Production/Zip # Onde estarão os ficheiros descarregados zip
      - FilePathUnzip__Path=C:/Users/Carlos Campos/Desktop/Production/Unzip # One estarao os ficheiros descarregados unzip

  cma.ismai.delivery.payment.ui:
    image: ${DOCKER_REGISTRY-}cmaismaideliverypaymentui
    networks:
      - deliveryproject_network
    container_name: cmaismaideliverypaymentui
    restart: always
    build:
      context: .
      dockerfile: CMA.ISMAI.Delivery.Payment.UI/Dockerfile
    volumes:
      - C:/Users/Carlos Campos/Desktop/excel.xlsx:/Payment/excel.xlsx 
      - C:/Users/Carlos Campos/Desktop/Production/Unzip:/Production/Unzip 
      - C:/Users/Carlos Campos/Desktop/Production/Zip:/Production/Zip  
    environment:
      - COMPOSE_CONVERT_WINDOWS_PATHS=1 
      - RabbitMqCore__Uri=rabbitmq 
      - RabbitMqCore__Username=admin 
      - RabbitMqCore__Password=admin 
      - RabbitMqCore__Port=5672
      - ElasticConfiguration__Uri=http://elasticsearch:9200/
      - EventStore__IPAddress=tcp://admin:changeit@eventstore:1113 
      - Camunda__Uri=http://camunda:8080/engine-rest/engine/default/ 
      - FilePathPayment__Path=//Payment//excel.xlsx #Ficheiro excel com os alunos que fizeram o pagamento
      - TimeToFetch__Time=86400 # tempo para o timer ir ao camunda colecionar tasks
      - TaskPerFetch__Time=30 # tasks que o camunda retorna
      - Notification__ManualProcessing=carlosmiguelcampos1996@gmail.com  # Email de notificação para processamento manual
      - Notification__University=carlosmiguelcampos1996@gmail.com  # Email de notificação da universidade do pagamento
      - NotificationEmail__Email=trelloismai@gmail.com #Email de envio de notificação da solução
      - NotificationEmail__Password=trelloteste123
      - NotificationEmail__Host=smtp.gmail.com
      - NotificationEmail__Port=587
      - FilePathZip__Path=C:/Users/Carlos Campos/Desktop/Production/Zip # Onde estarão os ficheiros descarregados zip
      - FilePathUnzip__Path=C:/Users/Carlos Campos/Desktop/Production/Unzip # One estarao os ficheiros descarregados unzip

  cma.ismai.delivery.fileloading.ui:
    image: ${DOCKER_REGISTRY-}cmaismaideliveryfileloadingui
    networks:
      - deliveryproject_network
    container_name: cmaismaideliveryfileloadingui
    restart: always
    build:
      context: .
      dockerfile: CMA.ISMAI.Delivery.FileLoading.UI/Dockerfile
    volumes:
      - C:/Users/Carlos Campos/Desktop/Production/Unzip:/Production/Unzip 
      - C:/Users/Carlos Campos/Desktop/Production/Zip:/Production/Zip 
    environment:
      - RabbitMqCore__Uri=rabbitmq 
      - RabbitMqCore__Username=admin
      - RabbitMqCore__Password=admin
      - RabbitMqCore__Port=5672
      - ElasticConfiguration__Uri=http://elasticsearch:9200/
      - EventStore__IPAddress=tcp://admin:changeit@eventstore:1113
      - Camunda__Uri=http://camunda:8080/engine-rest/engine/default/
      - FilePathZip__Path=C:/Users/Carlos Campos/Desktop/Production/Zip # Onde estarão os ficheiros descarregados zip
      - FilePathUnzip__Path=C:/Users/Carlos Campos/Desktop/Production/Unzip # One estarao os ficheiros descarregados unzip
      - Notification__Email=carlosmiguelcampos1996@gmail.com # Email de notificação de processamento manual
      - NotificationEmail__Email=trelloismai@gmail.com #Email de envio de notificação da solução
      - NotificationEmail__Password=trelloteste123
      - NotificationEmail__Host=smtp.gmail.com
      - NotificationEmail__Port=587

  cma.ismai.delivery.ui:
    image: ${DOCKER_REGISTRY-}cmaismaideliveryui
    networks:
      - deliveryproject_network
    container_name: cmaismaideliveryui
    restart: always
    ports:
    - 5778:80
    - 5779:443
    build:
      context: .
      dockerfile: CMA.ISMAI.Delivery.UI/Dockerfile
    environment:
      - ElasticConfiguration__Uri=http://elasticsearch:9200/ 
      - EventStore__IPAddress=tcp://admin:changeit@eventstore:1113
      - API_File_ZIP__Uri=http://cmaismaideliveryapiui/api/Deliveries/UploadWithFile
      - API_File_URL__Uri=http://cmaismaideliveryapiui/api/Deliveries/UploadWithLink

#Auxiliares
  elasticsearch:
   image: docker.elastic.co/elasticsearch/elasticsearch:6.2.4
   container_name: elasticsearch
   ports:
    - "9200:9200"
   volumes:
    - elasticsearch-data:/usr/share/elasticsearch/data
   networks:
    - network_cmaismai
   restart: always

  kibana:
   image: docker.elastic.co/kibana/kibana:6.2.4
   container_name: kibana
   ports:
    - "5601:5601"
   depends_on:
    - elasticsearch
   networks:
    - network_cmaismai
   restart: always

  rabbitmq:
   image: rabbitmq:management
   container_name: rabbitmq
   hostname: rabbitmq
   environment:
    RABBITMQ_ERLANG_COOKIE: "SWQOKODSQALRPCLNMEQG"
    RABBITMQ_DEFAULT_USER: "admin"
    RABBITMQ_DEFAULT_PASS: "admin"
    RABBITMQ_DEFAULT_VHOST: "/"
   ports:
    - "5672:5672"
    - "15672:15672"
   networks:
   - network_cmaismai
   restart: always

  camunda:
   container_name: camunda
   image: camunda/camunda-bpm-platform:latest
   ports:
    - "8080:8080"
   networks:
    - network_cmaismai
   restart: always

  eventstore.db:
    container_name: eventstore
    image: eventstore/eventstore:release-5.0.8
    environment:
      - EVENTSTORE_CLUSTER_SIZE=1
      - EVENTSTORE_INT_TCP_PORT=1112
      - EVENTSTORE_EXT_TCP_PORT=1113
      - EVENTSTORE_INT_HTTP_PORT=2112
      - EVENTSTORE_EXT_HTTP_PORT=2113
    ports:
      - "1112:1112"
      - "1113:1113"
      - "2112:2112"
      - "2113:2113"
    networks:
    - network_cmaismai
    restart: always

volumes:
  elasticsearch-data:
networks:
  deliveryproject_network:
    driver: bridge
